<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frameworks</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'framework.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resp.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/src/carousel.js' %}"></script>
    <script src="{% static 'js/dist/carousel.js' %}"></script>
    <script src="{% static 'js/dist/carousel.js.map' %}"></script>
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-slim.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-slim.min.js' %}"></script>


</head>
<body>
    <div class="header">
        <img style="width:200px;height:48px;float:left;" src="{% static 'images\slika4.jpg' %}">
        <p style="font-size: 20px;padding-left:20px; padding-top:10px;color:white;">Frameworks</p>
    </div>
    <div class="header1">
     
        
    </div>
    <div class="main">
        <img style="width:100%" src="{% static 'images\frame4.jpg' %}">
        <div class="cards">
            <div class="col-sm-4 card">
                <img style="width:100%;" src="{% static 'images\frame1.jpg' %}">
                <p>Framework-alat koji se  koristi prilikom izrade aplikacija ili bilo kakavog softverskog produkta,
                     sa ciljem olakšanog razvoja. Njegova strktura je slojevita i čine je biblioteka 
                     fajlova sa ugradjenim kodovima i programima, 
                    koji čine bazu prilikom kreiranja novog produkta.</p>
            </div>
            <div class="col-sm-4 card">
                <img style="width:100%;height:270px;" src="{% static 'images\frame2.jpg' %}">
                <p>
                    Samo neke od karakteristika framework-a jesu funkionalnost, fleksibilnost, čitljivost i izgled. 
                    Pruža kvalitetan rad sa bazama podataka. Neki radni okviri podržavaju objektno-relacijsko
                     mapiranje(ORM), 
                    kojim se vrši operacije sa bazama podataka, bez potrebe pisanja sql koda.
                </p>
            </div>
            <div class="col-sm-4 card">
                <img style="width:100%;height:270px;" src="{% static 'images\frame3.png' %}">
                <p>Korištenjem ove jako moćne strukture jasno možemo uvidjeti nedostatke koda,
                     te iskoristiti sve funkcije koje nam nudi. Sve komponente koje ulaze u sastav
                      projekta, koji se kreira, povezuje u jedinstvenu cijelinu.
                </p>
            </div>
        </div>
    </div>
    <div class="panels">
        <div class="col-sm-6 panel">
            <h4>Features<=></h4>
            <p>Inversion of control</p>
            <p>Extensibility </p>
            <p>Immutability</p>
        </div>
        <div class="col-sm-6 panel1">
            <img style="width:100%;" src="{% static 'images\frame7.jpg' %}">
             
        </div>
    </div>
    <div class="panels1">
        <div class="col-sm-6 panel2">
            <img style="width:100%;" src="{% static 'images\frame9.jpg' %}">
        </div>
        <div class="col-sm-6 panel3">
            <h4>PHP frameworks<=></h4>
            <p>Flexibility</p>
            <p>Consistent</p>
            <p>MVC Arhitecture</p>
            <p>Create,Read,Update,Delete</p>
            <p>Growth and Expansion</p>
            <p>Secyrity</p>
            <p>Don't repeat</p>

             
        </div>
    </div>
    <div class="base">
        <p>Frameworks</p>
 
     </div>
    <div class="footer">
        <p>Laravel</p>
        </div>
</body>
</html>