<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'history.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resp.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/src/carousel.js' %}"></script>
    <script src="{% static 'js/dist/carousel.js' %}"></script>
    <script src="{% static 'js/dist/carousel.js.map' %}"></script>
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-slim.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-slim.min.js' %}"></script>

</head>
<body>
    <div class="header">
        <img style="width:200px;height:48px;float:left;" src="{% static 'images\slika4.jpg' %}">
        <p style="font-size: 20px;padding-left:20px; padding-top:10px;color:white;">History & Versions</p>
    </div>
    <div class="header1">
    
    </div>
    <div class="main">
        <img style="width:100%;" src="{% static 'images\frame13.jpg' %}">
     
    </div>
    <div class="header1">

    </div>
    <div class="panels">
        <div class="col-md-6">
            <div class="panel">
            <img style="width:100%;" src="{% static 'images\laravel19.jpeg' %}">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <p>Prvi PHP okvir, CakePHP, nastao je 2005.godine. 
                    Vrlo brzo nastaje Symphony. Dalje se razvijaju CodeIgniter, 
                    Zend, Yii, Phalcon, Aura... 2011.godine  nastaje Laravel sa raznovrsnim 
                    mogućnostima i postaje jedan od najpopularnijih okruženja širom svijeta. 
                     
                </p>
            </div>
        </div>
        </div>
        <div class="panels1">
        <div class="col-sm-6">
            <div class="panel1">
            <p>Tvorac Laravela je Taylor Otwell. Uvidjevsi nedostatke CodeIgniter-a odlucio
                je napisati okvir za rad i predstavti ga kao svoje nezavisno okruženje koje 
                će ubrzo dospjeti na vrh popularnosti.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card1">
            
            <img style="width: 100%;" src="{% static 'images\tejlor.jpg' %}">
            </div>
        </div>

       </div>
        
  
    
    
    <div class="bottom">
        <img src="{% static 'images\hellolaravel.png' %}">

    </div>
    <div class="version">
        
        <p>Laravel 1.0,June 2011;
           Laravel 2.0,September 2011;
        Laravel 3.0,February 22, 2012;
        Laravel 3.1,March 27, 2012;
        Laravel 3.2,May 22, 2012;
        Laravel 4.0,May 28, 2013;
        Laravel 4.1,December 12, 2013;
        Laravel 4.2,June 1, 2014;
        Laravel 5.0,February 4, 2015;
        Laravel 5.1,June 9, 2015;
        Laravel 5.2,December 21, 2015;
        Laravel 5.3,August 23, 2016;
        Laravel 5.4,January 24, 2017;
        Laravel 5.5,August 30, 2017;
        Laravel 5.6,February 7, 2018; 
        Laravel 5.7,September 4, 2018;
        Laravel 5.8,February 26, 2019; 
        Laravel 6,September 3, 2019; 
        Laravel 7,March 3, 2020;
        Laravel 8,September 8, 2020 </p>
    </div>
    <div class="footer">
        <p>Laravel</p>
        </div>
</body>
</html>