<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'why.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resp.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/src/carousel.js' %}"></script>
    <script src="{% static 'js/dist/carousel.js' %}"></script>
    <script src="{% static 'js/dist/carousel.js.map' %}"></script>
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-slim.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-slim.min.js' %}"></script>

</head>
<body>
    <div class="header">
        <img style="width:200px;height:48px;float:left;" src="{% static 'images\slika4.jpg' %}">
        <p style="font-size: 20px;padding-left:20px; padding-top:10px;color:white;">Why</p>
    </div>
    <div class="header1">
     
         
    </div>
    <div class="main">
        <img style="width:100%;position:relative;" src="{% static 'images\frame8.webp' %}">
        
    </div>
    <div class="panels">
        <div class="col-sm-6 panel">
            <p>Jako elegantan sa bogatom sintaksom krisniku će pružiti veliko zadovoljstvo 
                prilikom kreirana web aplikacija. Sve ovo ćete raditi uz najmoderniju MVC arhitekturu 
                a proces izrade će teći brzo uz lako otklanjanje grešaka.
                
            </p>
        </div>
        <div class="col-sm-6 panel1">
        <img style="width:100%;" src="{% static 'images\frame2.jpg' %}">
             
             </div>
    </div>
    <div class="cards">
        <div class="col-sm-6 card">
        <img style="width:100%;" src="{% static 'images\frame9.jpg' %}">
          
        </div>
        <div class="col-sm-6 card1">
            <p>Omogućava korišćenje ogomne količine specifičnih paketa, jedinstveno testiranje, 
                ORM, rutiranje na apstraktan način. Lagan je za korištenje, a dostupna je i njegova 
                besplatna verzija. GitHub je 
                mjesto gdje se nalazi izvorni kod Laravela a podržan je sa MIT licencom. </p>
        </div>
    </div>
    <div class="bottom">
        <div class="col-sm-6 bot">
            <h2>Someone said:</h2>
        </div>
       <div class="col-sm-6 bot1">
        <img src="{% static 'images\whylaravel.jpg' %}">

       </div>
    </div>
    <div class="base">
        <p>Why?</p>
 
     </div>
    
    <div class="footer">
        <p>Laravel</p>
        </div>
</body>
</html>